.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 71%;
    max-width: 1920px;
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .logo img{
    padding: 16px;
}
nav .menu{
    display: flex;
    padding: 16px;
    gap: 32px;
    align-items: center;
}
nav .menu li{
    list-style: none;
   
} 
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    width: 164px;
    height: 44px;
}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.btn:hover{
    background-color: brown;
}
.banner-section{
    background-image: url('assets/hero-bg.png');
    height: 674px;
    text-align: center;
    padding-top: 110px;
    background-repeat: no-repeat;
}
.btn-2{
    background-color: #ffffff;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;

}
.btn-2 .dot{
    height: 8px;
    width: 8px;
    background-color: #30B868;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 rgba(40, 167, 69, 0.4);
    animation: pulse 1.5s infinite;
}
.btn-2 a{
    text-decoration: none;
}
.banner-section circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(104, 97, 97);

}
.banner-section .text1{
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}
.banner-section .text2{
    color: #30bb68;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}
.banner-section p{
    color: #ffffff;
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}
.banner-section .banner-button{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
}
 .banner-section .banner-button .btn-3{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px ;
    border: none;
    font-size: 16px;    
    border-radius: 4px;
}
.arrow{
    width: 18px;
    height: auto;
}
.btn-3 a{
    text-decoration: none;
    color: #ffffff;
}

.btn-4 {
    border: 1px solid #ffffff;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 12px 16px;
    gap: 10px;
    background-color: transparent;
    margin-left: 20px;
    border-radius: 4px;
    
}
.btn-4 a{
    text-decoration: none;
    color: #ffffff;
    }
.btn-4 #play-icon{
    background-color: transparent;
    padding-right: 5px;
    
}
#about .about-heading{
    padding: 0px 120px 120px 120px;
}
#about .about-heading h1{
    color: #001931;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
   
   
}
#about .about-container{
    width: 71%;
    max-width: 1920px;
    margin: 0 auto;

}
#about .about-heading p{
    color:#627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
#about .about-card{
    display: flex;
    margin: 0px 120px 120px 120px;
    justify-content: space-between;
    background-color: #ffffff;
    gap: 16px;
    text-align: center;

}
.about .about-container {
     width: 71%;
    max-width: 1920px;
    margin: 0 auto;
}

#about .card-information img{
    background-color:#F95555;
    border-radius: 100%;
    padding: 8px;
}
#about .card-information h2{
    font-size: 24px0;
    font-weight: 600;
    color: #001931;
}
#about .card-information P{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 28px;
}
#knowledge .knowledge-section{
     padding: 0px 120px 120px 120px;
    display: flex;
    gap: 60px;
}

#knowledge .knowledge-section .image{
    height: 600px;
    width: 600px;
}
#knowledge .knowledge-section .know-heading h5{
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 120px;
}
#knowledge .knowledge-section .know-heading h2{
    color: #001931;
    font-size: 48px;
    line-height: 100%
    font-weight: 700;
}
#knowledge .knowledge-section .know-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#knowledge .know{
    display: flex;
    gap: 6px;
    line-height: ;
}
#knowledge .first-know{
    padding-top: 20px;
}
#knowledge .first-know .know{
    padding-top: 10px;
}
#early-access .early-heading h1{
    font-size: 40px;
    color: #001931;
    font-weight: 700;
    text-align: center;
}
#early-access .early-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #627382;
}
#early-access .early-bottom .early-bottom1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
  
}
#early-access .early-bottom .btn-5{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px ;
    border: none;
    font-size: 16px;    
    border-radius: 4px;
}
.arrow{
    width: 18px;
    height: auto;
}
#early-access .early-bottom button img{
    color: #ffffff;

}
#early-access .early-bottom p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}
.section-footer{
    background-color: #001931; 
    margin-top: 80px;
    
}
.section-footer .footer-body img{
    padding: 120px 0px;

}
.section-footer .footer-social{
    padding: 120px 0px;
}
.section-footer .footer-social h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.section-footer .footer-social a{
    color: #ffffff;
    gap: 16px;
    border-radius: 100%;
}

.section-footer .footer-body{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1920px;
    margin: 0 auto;
}
.section-footer .footer-bottom hr{
    width: 71%;
    max-width: 1920px;
    margin: 0 auto;
    height: 0.000000001px solid #ffffff;
}
.section-footer .footer-bottom p{
     text-align: center;
     color: #ffffff;
     padding-top: 20px;
     padding-bottom: 30px;
     font-size: 16px;
}

