.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 71%;
    max-width: 1920px;
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .logo img{
    padding: 16px;
}
nav .menu{
    display: flex;
    padding: 16px;
    gap: 32px;
    align-items: center;
}
nav .menu li{
    list-style: none;
   
} 
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    width: 164px;
    height: 44px;
}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.btn:hover{
    background-color: brown;
}
.banner-section{
    background-image: url('assets/hero-bg.png');
    height: 674px;
    text-align: center;
    padding-top: 110px;
    background-repeat: no-repeat;
}
.btn-2{
    background-color: #ffffff;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;

}
.btn-2 a{
    text-decoration: none;
}
.banner-section circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(104, 97, 97);

}
.banner-section .text1{
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}
.banner-section .text2{
    color: #30bb68;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}
.banner-section p{
    color: #ffffff;
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}
.btn-3{
    background-color: #469165;
    border: none;
    align-items: center;
    gap: 10px;
    font-weight: 600;
   padding: 12px 16px;
   gap: 10px;
   margin-top: 30px;
}
.btn-3 a{
    text-decoration: none;
    color: #ffffff;
}
.btn-4 {
    border: 1px solid #ffffff;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 12px 16px;
    gap: 10px;
    background-color: transparent;
    margin-left: 20px;
}
.btn-4 a{
    text-decoration: none;
    color: #ffffff;